<%= form_tag("/posts/#{@post.id}/comment", method: "post") do %>

	<p>
		<%=label_tag :Comment%></br>
		<%=text_area_tag :comment%>
	</p>

	<p>
		<input type="submit" name="" value="comment" class="btn btn-primary ">
	</p>
<%end%>
